
@import '/src/app/helpers/_mixins.scss';


.footer{
    position: absolute;
    height: 128px;
    left: 0px;
    top: 912px;
    background: #1D2939;
    width: 100%;
   
    .container{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            h2{
                color: white;
            }
            @include logo-style;

        }
        .copy-right{
            width: 160px;
height: 24px;

/* Text md/Normal */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: right;

/* Gray/400 */

color: #98A2B3;
        }
    }
    
}