

@import 'src/app/helpers/_mixins.scss';

.header {
    height: 80px;
    box-shadow: 0 0 10px #ddd;
    background: #FFFFFF;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left-side {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 80px;

            .logo {
              
                @include logo-style;
               
            }

            .home {
                width: 46px;
                height: 24px;
                @include links-design;
              

            }

        }

        .right-side {
            a {
                background-color: transparent;
                width: fit-content;
                height: 24px;
                @include links-design;
               
            }
        }

    }

}